# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt




# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints






# Environments
.env
.venv
venv/



